.container {
  padding: 15px;
}

.btnForward {
  grid-area: forward;
  cursor: pointer;
  justify-self: flex-end;
  background-color: #28ed8f;

  margin-left: 3rem;
}

.disabled {
  background-color: #555a64;
}

.button a {
  color: white;
  text-decoration: none;

  padding: 0.5rem 1.25rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.35rem;
  transition: opacity 150ms ease-out;

  width: 150px;
}

.button a:hover {
  opacity: 0.75;
}
